@import "./settings/__settings";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  font-size: 100%;
  padding: 0;
  margin: 0;
  font-family: GalanoGrotesque, sans-serif;
}

body {
  font-family: GalanoGrotesque, sans-serif;
  line-height: 1;
  width:100%;
  background-color:$color-lightgray;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --primary-nav-height: 66px;
}

main {
  padding-top: 30px;
}

h1, h2, h3, h4, p, span, button, input, select {
  font-family: GalanoGrotesque, sans-serif;
}

/* Font Size */

h1 {
    font-size: $size-38px; /* 38px */
    font-weight:600;
    line-height:1.5em;
    line-height: calc(1em + 12px);
    padding-bottom:20px;
    @include desktop() {
      font-size: $size-50px;
    }
}

h2 {
    font-size: $size-28px;  /* 28px */
    font-weight:600;
    line-height: calc(1em + 10px);
    padding-bottom:15px;
    @include desktop() {
      font-size: $size-40px;
    }
}
h3 {
    font-size: $size-22px; /* 22px */
    font-weight:600;
    line-height:1.5em;
    line-height: calc(1em + 8px);
    @include desktop() {
      font-size: $size-30px;
    }
}
h4 {
    font-size: $size-18px; /* 18px */
    font-weight:600;
    line-height:1.5em;
    @include desktop() {
      font-size: $size-18px;
    }
}
p {
  font-size:$size-16px; /* 16px */
  line-height:1.5em;
}

form input:not([type=checkbox], [type=submit]) {
  background: $color-white;
  border-radius: 4px;
  border: 1px solid $color-darkgray;
  color: $color-black;
  font-size: $size-16px; /* 16px */
  height: 48px;
  padding: 20px 15px;
  width: 100%;
}

label {
  display: block;
  color: $color-black;
  font-size: $size-16px;
  margin-bottom: .25rem;
  line-height: 1.4em;
}

input[type=checkbox]:checked ~ span:before {
  border-color:$color-green;
}
input[type=checkbox]:checked ~ span::after {
  background-color: transparent;
  left: .375rem;
  border-width: 0 0.125rem 0.125rem 0;
  border-style: solid;
  border-color: $color-green;
  transform: translateY(0.1rem) rotate(45deg);
  width: 0.3rem;
  height: 0.6rem;
}