@import "./settings/__settings";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: GalanoGrotesque, sans-serif;
  line-height: 1;
}

body {
  line-height: 1;
  width:100%;
  background-color:$color-lightgray;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --primary-nav-height: 66px;
}

.main {
  padding-top: calc(30px + var(--primary-nav-height));
}

h1, h2, h3, h4, p, span, button, input, select {
  font-family: GalanoGrotesque, sans-serif;
}

/* Font Size */

h1 {
    font-size: 50px;
    font-weight:600;
}

h2 {
    font-size: 40px;
    font-weight:600;
}
h3 {
    font-size: 32px;
    font-weight:600;
}
h4 {
    font-size: 22px;
    font-weight:600;
}
p {
  font-size:16px;
}
