@import "./settings/__settings";

.grid {
  display: flex;
  flex-wrap: wrap;
  max-width: 1084px;
  margin: 0 auto;

  @include desktop() {
      width: 100%;
      flex-direction: column;
  }
}

/* Utility */
.clearfix:after {
  content: "";
  clear: both;
  display: table;
}

.relative {
  position:relative;
}

.block {
  display:block;
}

.grid-col-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* padding & margin */
.pt-20px {
  padding-top:20px;
}
.pt-30px {
  padding-top:30px;
}
.pb-20px {
  padding-bottom:20px;
}
.pb-30px {
  padding-bottom:30px;
}

/* Component section */
.table-headline-gray {
  @include section-headline($color-mediumgray, $color-black);
}

.table-headline-blue {
  @include section-headline($color-darkblue, $color-white);
}

.container {
  max-width: 1084px;
  margin: 0 auto;
}

/* Alignment */
.align-center {
  text-align:center;
}

.number {
  width:24px;
  height:24px;
  font-size:18px;
  line-height:24px;
  color:$color-black;
  font-weight:600;
  border-radius:50%;
  background-color:$color-paleblue;
  display:block;
}

