@import "./settings/__settings";

/* Utility */
.relative {
  position:relative;
}

.block {
  display:block;
}
/* Titles */
.card-title {
  font-size: $size-36px;
  padding-bottom:0;
}
.pricing {
  font-size: $size-28px;
  font-weight: 600;
}

/* padding & margin */
.pt-20px {
  padding-top:toRem(20);
}
.pt-30px {
  padding-top:toRem(30);
}
.pb-20px {
  padding-bottom:toRem(20);
}
.pb-30px {
  padding-bottom:toRem(30);
}
.mb-10px {
  margin-bottom:toRem(10);
}
.mt-20px {
  margin-top:toRem(20);
}

/* Component section */
.table-headline-gray {
  @include section-headline($color-mediumgray, $color-black);
}

.table-headline-blue {
  @include section-headline($color-darkblue, $color-white);
}

.number {
  width: toRem(24);
  height: toRem(24);
  font-size: $size-18px;
  line-height: toRem(24);
  color:$color-black;
  font-weight:600;
  border-radius:50%;
  background-color:$color-paleblue;
  display:block;
}

.flag-orange {
  left: 50%;
  margin: 0;
  position: absolute;
  text-align: center;
  top: .6em;
  transform: translate(-50%,-50%);
  background-color: $color-orange;
  color: $color-white;
  padding: toRem(5) toRem(9);
  border-radius: toRem(8);
  font-weight: 600;
  z-index:1;
}