@import "./settings/__settings";

/* Utility */
.relative {
  position:relative;
}

.block {
  display:block;
}
/* Titles */
.card-title {
  font-size: 36px;
  padding-bottom:0;
}
.pricing {
  font-size: 28px;
  font-weight: 600;
}

/* padding & margin */
.pt-20px {
  padding-top:20px;
}
.pt-30px {
  padding-top:30px;
}
.pb-20px {
  padding-bottom:20px;
}
.pb-30px {
  padding-bottom:30px;
}
.mb-10px {
  margin-bottom:10px;
}
.mt-20px {
  margin-top:20px;
}

/* Component section */
.table-headline-gray {
  @include section-headline($color-mediumgray, $color-black);
}

.table-headline-blue {
  @include section-headline($color-darkblue, $color-white);
}

.number {
  width:24px;
  height:24px;
  font-size:18px;
  line-height:24px;
  color:$color-black;
  font-weight:600;
  border-radius:50%;
  background-color:$color-paleblue;
  display:block;
}

.flag-orange {
  left: 50%;
  margin: 0;
  position: absolute;
  text-align: center;
  top: .6em;
  transform: translate(-50%,-50%);
  background-color: $color-orange;
  color: $color-white;
  padding: 5px 9px;
  border-radius: 5px;
  font-weight: 600;
  z-index:1;
}